* {
    font-family: 'Montserrat',
        sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    text-align: center;
}

.button {
    padding: 5px 20px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
}

.b4 {
    margin-top: 20px;
    margin-left: 20px;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.form {
    background: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.right {
    margin-left: 50px;
}

.textinput {
    border: none;
    border-bottom: 1px solid blue;
}

.buttontwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.close {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    padding: 5px 10px;
    color: white;
    margin-top: -7px;
    margin-right: -7px;
    cursor: pointer;
}

/* table {
    border-collapse: collapse;
} */
